* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Whitney", sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
    width: 60px;
    height: 60px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-small {
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: 0.9em;
}

.text {
    font-size: 1em;
    line-height: 1.6em;
}
header {
    height: 60px;
    background-color: #3161E0;
}

.header-nav {
    line-height: 60px;
    color: white;
}

.nav-logo, nav.btn {
    width: 15%;
}

.nav-logo img {
    width: auto;
    height: 40px;
    vertical-align: middle;
}

.nav-btn {
    text-align: right;
}

.nav-center {
    width: 70%;
    text-align: center;
}

.nav-center .header-menu li {
    margin-right: 1em;
    display: inline-block;
}

.nav-center .header-menu a {
    margin-right: 1em;
    color: inherit;
}

.jumbotron {
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron-content {
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
}

.jumbotron-content .jumbotron-title {
    font-size: 2.5em;
    margin-bottom: 0.8em;
    padding: 1.8em 0;
}

.text {
    font-size: 1em;
    line-height: 1.6em;
}

.btn-large {
    padding: 1em 2em;
    border-radius: 50px;
    font-size: 1.2em;
    text-decoration: none;
}
 .btn-black {
    background-color: rgb(22, 22, 22);
    color: white;
 }

 .jumbotron-content .buttons {
     margin-top: 2em;
 }
