* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "whitney", sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
    width: 60px;
    height: 60px;
}

.btn-white {
    background-color: white
    color black;
}

.btn-small {
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: 0.9em;
}

.text {
    font-size: 1em;
    line-height: 1.6em;
}
header {
    height: 60px;
    background-color: #3161E0;
}

.header-nav {
    line-height: 60px;
    color: white;
}

.nav-logo, nav.btn {
    width: 15%;
}

.nav-logo img {
    width: auto;
    height: 40px;
    vertical-align: middle;
}

.nav-btn {
    text-align: right;
}

.nav-center {
    width: 70%;
    text-align: center;
}

.nav-center .header-menu li{
    margin-right: 1em;
    display: inline-block;
}

.nav-center .header-menu a {
    margin-right: 1em;
    color: inherit;
}

.jumbotron {
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

